main h2 {
    font-size: 300%;
    margin-left: 40px;

}
main h2 span{
    font-size: 200%;
    font-weight: bold;
}

.who-we-are img {
    width: 500px;
    margin-left: 40px;
    box-shadow: 5px 5px 16px 0px #00adb5;
    border: 3px solid #252525;
    border-radius: 10px;
    margin-bottom: 20px;
}

.who-we-are .right-about-us {
    display: inline-block;
    vertical-align: top;
    margin-left: 40px;
}

.who-we-are .right-about-us h4 {
    color: #00adb5;
    margin-left: 20px;
    font-weight: bold;
    font-size: 150%;
}