#Cosmetic1 .images .img-b {
    background: url("../images/cases/final/CosmeticDentistry/1/b.png") no-repeat;
}

#Cosmetic1 .images .img-a {
    background: url("../images/cases/final/CosmeticDentistry/1/a.png") no-repeat;
}

#Dental1 .images .img-b {
    background: url("../images/cases/final/DentalImplants/1/b.png") no-repeat;
}

#Dental1 .images .img-a {
    background: url("../images/cases/final/DentalImplants/1/a.png") no-repeat;
}

#Dental2 .images .img-b {
    background: url("../images/cases/final/DentalImplants/2/b.png") no-repeat;
}

#Dental2 .images .img-a {
    background: url("../images/cases/final/DentalImplants/2/a.png") no-repeat;
}

#Endo1 .images .img-b {
    background: url("../images/cases/final/Endodontics/1/b.png") no-repeat;
}

#Endo1 .images .img-a {
    background: url("../images/cases/final/Endodontics/1/a.png") no-repeat;
}

#Ortho1 .images .img-b {
    background: url("../images/cases/final/Orthodontics/1/b.png") no-repeat;
}

#Ortho1 .images .img-a {
    background: url("../images/cases/final/Orthodontics/1/a.png") no-repeat;
}

#fixcrbri1 .images .img-b {
    background: url("../images/cases/final/Fixedcrownandbriadge/1/b.png") no-repeat;
}

#fixcrbri1 .images .img-a {
    background: url("../images/cases/final/Fixedcrownandbriadge/1/a.png") no-repeat;
}

#Bleach1 .images .img-b {
    background: url("../images/cases/final/Bleaching/1/b.png") no-repeat;
}

#Bleach1 .images .img-a {
    background: url("../images/cases/final/Bleaching/1/a.png") no-repeat;
}

#Bleach2 .images .img-b {
    background: url("../images/cases/final/Bleaching/2/b.png") no-repeat;
}

#Bleach2 .images .img-a {
    background: url("../images/cases/final/Bleaching/2/a.png") no-repeat;
}

#Bleach3 .images .img-b {
    background: url("../images/cases/final/Bleaching/3/b.png") no-repeat;
}

#Bleach3 .images .img-a {
    background: url("../images/cases/final/Bleaching/3/a.png") no-repeat;
}

#Bleach4 .images .img-b {
    background: url("../images/cases/final/Bleaching/4/b.png") no-repeat;
}

#Bleach4 .images .img-a {
    background: url("../images/cases/final/Bleaching/4/a.png") no-repeat;
}

#Bleach5 .images .img-b {
    background: url("../images/cases/final/Bleaching/5/b.png") no-repeat;
}

#Bleach5 .images .img-a {
    background: url("../images/cases/final/Bleaching/5/a.png") no-repeat;
}

#Scalpol1 .images .img-b {
    background: url("../images/cases/final/Scalingandpolishing/1/b.png") no-repeat;
}

#Scalpol1 .images .img-a {
    background: url("../images/cases/final/Scalingandpolishing/1/a.png") no-repeat;
}

#Scalpol2 .images .img-b {
    background: url("../images/cases/final/Scalingandpolishing/2/b.png") no-repeat;
}

#Scalpol2 .images .img-a {
    background: url("../images/cases/final/Scalingandpolishing/2/a.png") no-repeat;
}

#Scalpol3 .images .img-b {
    background: url("../images/cases/final/Scalingandpolishing/3/b.png") no-repeat;
}

#Scalpol3 .images .img-a {
    background: url("../images/cases/final/Scalingandpolishing/3/a.png") no-repeat;
}